* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: flex-end;
  padding: 15px 20px;
}
a {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.sigin{
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.logo {
    width: 250px;
    margin-bottom: 30px;
}
.search-box{
    width: 500px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #dcdcdc;
    padding: 0 20px;
    font-size:16px;
    outline: none;
}
.search-box:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,28);
}
.buttons{
    margin-top: 30px;
}
.buttons button{
    margin: 5px;
    padding: 10px 18px;
    border: none;
    background-color: #f8f9fa;
    border-radius: 5px;
    cursor: pointer;
}
.buttons button:hover {
    border: 1px solid #dadce0;
}
.search-container {
    position: relative;
    width: 550px;
}
.search-box {
  width: 100%;
  height: 45px;
  border-radius: 25px;
  border: 1px solid #dcdcdc;
  padding-left: 45px;
  padding-right: 90px;
  font-size: 16px;
  outline: none;


}

.search-box:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
